body {
	margin: 5px;
	padding: 5px;
	display: block;
	height: 430px;
	overflow-x: hidden;
	overflow-y: auto;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid;
}
tr:nth-child(odd) {
	background: #f1f1f1;
}
tr:hover {
	background-color: yellow;
}
tr:nth-child(1) {
	background: #6495ed;
	text-align: center;
	color: white;
}
td {
	border: 1px solid;
}
